<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>InsertMedicineServelt</servlet-name>
        <servlet-class>com.senactds.controller.InsertMedicineServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMedicinesServlet</servlet-name>
        <servlet-class>com.senactds.controller.ListMedicinesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveMedicineServlet</servlet-name>
        <servlet-class>com.senactds.controller.RemoveMedicineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertMedicineServelt</servlet-name>
        <url-pattern>/insertmedicineservelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMedicinesServlet</servlet-name>
        <url-pattern>/listmedicinesservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveMedicineServlet</servlet-name>
        <url-pattern>/removemedicineservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
